In [332]:
import numpy as np
import math
import pandas as pd

In [134]:
# Load CSV files
tmdb_movies = pd.read_csv('tmdb_5000_movies.csv')

In [135]:
tmdb_movies.sample(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
2984,6000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",NaN,16781,"[{""id"": 9888, ""name"": ""spanking""}, {""id"": 1018...",en,Madea's Family Reunion,Based upon Tyler Perry's acclaimed stage produ...,5.882208,"[{""name"": ""Lions Gate Films"", ""id"": 35}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-02-24,57231524,110.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Madea's Family Reunion,6.0,77

In [136]:
tmdb_movies['production_companies'][0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [137]:
import ast

def extract_names(col_str):
    values = ast.literal_eval(col_str)
    return [value['name'] for value in values]

In [138]:
tmdb_movies['genres'] = tmdb_movies['genres'].apply(extract_names)
tmdb_movies['keywords'] = tmdb_movies['keywords'].apply(extract_names)
tmdb_movies['production_companies'] = tmdb_movies['production_companies'].apply(extract_names)
tmdb_movies['production_countries'] = tmdb_movies['production_countries'].apply(extract_names)
tmdb_movies['spoken_languages'] = tmdb_movies['spoken_languages'].apply(extract_names)

In [139]:
tmdb_movies.isna().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [140]:
tmdb_movies.drop(columns=["homepage", "tagline"],inplace=True)

In [141]:
tmdb_movies.head(2)

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[Ingenious Film Partners, Twentieth Century Fo...","[United States of America, United Kingdom]",2009-12-10,2787965087,162.0,"[English, Español]",Released,Avatar,7.2,11800
1,300000000,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[Walt Disney Pictures, Jerry Bruckheimer Films...",[United States of America],2007-05-19,961000000,169.0,[English],Released,Pirates of the Caribbean: At World's End,6.9,4500

### dataset2

In [142]:
tmdb_credits = pd.read_csv('tmdb_5000_credits.csv')

In [143]:
tmdb_credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [144]:
def extract_character(cast_str):
    cast_list = ast.literal_eval(cast_str)
    return [member['name'] for member in cast_list[:3]]

In [145]:
tmdb_credits['cast'] = tmdb_credits['cast'].apply(extract_character)

In [146]:
# tmdb_credits['crew']

In [147]:
tmdb_credits.isna().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [148]:
tmdb_credits.shape

(4803, 4)

In [149]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [150]:
tmdb_credits['crew'] =  tmdb_credits['crew'].apply(fetch_director)

In [151]:
tmdb_credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [152]:
tmdb_credits.rename(columns={'crew': 'director'}, inplace=True)

In [272]:
movies = tmdb_movies.merge(tmdb_credits,on='title')

In [273]:
movies.shape

(4809, 21)

In [274]:
movies.isna().sum()

budget                  0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
overview                3
popularity              0
production_companies    0
production_countries    0
release_date            1
revenue                 0
runtime                 2
spoken_languages        0
status                  0
title                   0
vote_average            0
vote_count              0
movie_id                0
cast                    0
director                0
dtype: int64

In [276]:
movies.dropna(inplace=True)

In [278]:
movies.sample(5)

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,...,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,movie_id,cast,director
4338,1000000,"[Adventure, Drama, Science Fiction]",811,"[space marine, sunlight, plants, space travel,...",en,Silent Running,In a future Earth barren of all flora and faun...,11.095414,"[Universal Pictures, Trumbull/Gruskoff Product...",[United States of America],...,0,89.0,"[English, Deutsch]",Released,Silent Running,6.3,177,811,"[Bruce Dern, Cliff Potts, Ron Rifkin]",[Douglas Trumbull]
4726,8500000,[Drama],339408,[slavery],en,The Birth of a Nation,"Nat Turner, a former slave in America, leads a...",9.452808,"[Phantom Four, Mandalay Pictures, Bron Studios...",[United States of America],...,15861566,120.0,[English],Released,The Birth of a Nation,6.5,178,339408,"[Nate Parker, Armie Hammer, Aja Naomi King]",[Nate Parker]
3144,11000000,[Comedy],10471,"[prison, repayment, gang war, boy gang, reveng...",en,Next Friday,"Ice Cube returns as Craig Jones, a streetwise ...",9.337388,[New Line Cinema],[United States of America],...,59827328,98.0,[English],Released,Next Friday,6.4,135,10471,"[Ice Cube, Mike Epps, Justin Pierce]",[Steve Carr]
1129,42000000,"[Comedy, Drama, Romance]",25189,"[sex, professor, wedding, woman director, colu...",en,The Mirror Has Two Faces,"Rose Morgan (Barbara Streisand), who still liv...",3.844926,"[TriStar Pictures, Phoenix Pictures]",[United States of America],...,0,126.0,[English],Released,The Mirror Has Two Faces,6.5,47,25189,"[Barbra Streisand, Jeff Bridges, Lauren Bacall]",[Barbra Streisand]
2456,16000000,[Comedy],8467,"[gas station, motel, utah, stupidity, pill, pr...",en,Dumb and Dumber,Lloyd and Harry are two men whose stupidity is...,35.777067,"[New Line Cinema, Motion Picture Corporation o...",[United States of America],...,247275374,107.0,[English],Released,Dumb and Dumber,6.5,1859,8467,"[Jim Carrey, Jeff Daniels, Lauren Holly]","[Bobby Farrelly, Peter Farrelly]"

### dataset3

In [279]:
imdb_movies_india = pd.read_csv('IMDb Movies India.csv',encoding="latin1")

In [280]:
imdb_movies_india.sample(3)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1622,Badla Aurat Ka,(1987),NaN,Action,NaN,NaN,Sarath Babu,Silk Smitha,NaN,NaN
11503,Rahu Ketu,(1978),133 min,Action,5.8,20,B.R. Ishara,Shashi Kapoor,Rekha,Prem Nath
15484,Zinga,(2021),NaN,"Adventure, Fantasy, Sci-Fi",NaN,NaN,Jaishankar Chigurula,Sri Ram,Devan Sanjeev,Kasu Naveen Kumar

In [281]:
imdb_movies_india.shape

(15509, 10)

In [282]:
imdb_movies_india['Year'] = imdb_movies_india['Year'].str.extract(r'(\d{4})')

In [283]:
imdb_movies_india.sample(3)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
14344,Tigers,2014,94 min,Drama,7.3,"1,553",Danis Tanovic,Emraan Hashmi,Geetanjali Thapa,Danny Huston
12802,Shahi Mehmaan,1955,NaN,NaN,NaN,NaN,Balwant Bhatt,Ranjan,Shammi,Shyama
5908,Humayun,1945,118 min,"Drama, History",7.5,46,Mehboob Khan,Ashok Kumar,Veena,Nargis

In [284]:
imdb_movies_india.isna().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [285]:
imdb_movies_india.shape

(15509, 10)

In [286]:
imdb_movies_india.isna().mean() * 100

Name         0.000000
Year         3.404475
Duration    53.317429
Genre       12.102650
Rating      48.939326
Votes       48.932878
Director     3.385131
Actor 1     10.426204
Actor 2     15.371720
Actor 3     20.272100
dtype: float64

In [287]:
nan_percentage = imdb_movies_india.isna().mean() * 100
columns_to_drop = nan_percentage[nan_percentage > 45].index
imdb_movies_india = imdb_movies_india.drop(columns=columns_to_drop)

In [288]:
imdb_movies_india['All Actors'] = imdb_movies_india[['Actor 1', 'Actor 2', 'Actor 3']].apply(lambda x: x.tolist(), axis=1)

In [289]:
imdb_movies_india.sample(3)

,Name,Year,Genre,Director,Actor 1,Actor 2,Actor 3,All Actors
1652,Badnami,1946,NaN,Majnu,Geeta Bali,Pran,Balraj Sahni,"[Geeta Bali, Pran, Balraj Sahni]"
11363,Qayamat Hi Qayamat,2012,"Action, Drama",Vicky Ranawat,Prem Chopra,Zakir Hussain,Puneet Issar,"[Prem Chopra, Zakir Hussain, Puneet Issar]"
15172,Yakeen,2005,"Drama, Thriller",Girish Dhamija,Arjun Rampal,Priyanka Chopra Jonas,Kim Sharma,"[Arjun Rampal, Priyanka Chopra Jonas, Kim Sharma]"

In [290]:
imdb_movies_india.drop(columns=imdb_movies_india[['Actor 1', 'Actor 2', 'Actor 3']],axis=0,inplace=True)

In [291]:
imdb_movies_india.shape

(15509, 5)

In [292]:
def all_nan(lst):
    return all(pd.isna(x) for x in lst)

# Apply the function to each row and filter out rows where all values are NaN
imdb_movies_india = imdb_movies_india[~imdb_movies_india['All Actors'].apply(all_nan)]

In [293]:
imdb_movies_india.sample(3)

,Name,Year,Genre,Director,All Actors
6034,"In 1998, Mehndi was signed by Coca-Cola for pr...",1998,Musical,Deepak Gattani,"[Daler Mehndi, nan, nan]"
11978,Room No. 203,1980,Mystery,Parikshit Sahni,"[Bindu, Shyamalee, Jagdeep]"
1473,B.A. Pass 2,2017,Drama,Shadab Khan,"[Shadab Khan, Kritika Sachdeva, Satiiysh Saara..."

In [294]:
imdb_movies_india.shape

(13892, 5)

In [295]:
imdb_movies_india[imdb_movies_india['Name'] == 'Kaafir']

Empty DataFrame
Columns: [Name, Year, Genre, Director, All Actors]
Index: []

In [296]:
imdb_movies_india['All Actors'] = imdb_movies_india['All Actors'].apply(lambda x: [i for i in x if not (isinstance(i, float) and math.isnan(i))])

In [298]:
# imdb_movies_india.drop(['Column1', 'All NaN'], axis=1,inplace=True)

In [329]:
imdb_movies_india.sample(5)

,Name,Year,Genre,Director,All Actors
1187,Anyay Hi Anyay,1997,"[Action, Crime, Drama]",[Tarun Wadhwa],"[Rita Bhaduri, Sulabha Deshpande, Shafi Inamdar]"
1966,Beehad - The Ravine,2013,[Drama],[Krishna Mishra],"[Pawan Rajput, Satyajeet Rajput, Vikas Shrivas..."
3572,Deha,2007,[Romance],[Mahesh Manjrekar],"[Mahesh Manjrekar, Jaya Prada, Supriya Karnik]"
4474,Ek Naya Rishta,1988,[Family],[Vinod Pande],"[Rekha, Raj Kiran, Mazhar Khan]"
467,Aas,1953,[Romance],[Devendra Goel],"[Kamini Kaushal, Shekhar, Om Prakash]"

In [300]:
imdb_movies_india.dropna(subset=['Genre','Year'],inplace=True)

In [301]:
imdb_movies_india.shape

(12029, 5)

In [302]:
# imdb_movies_india['Genre'] = imdb_movies_india['Genre'].apply(lambda x: x.split(', ') if ', ' in x else [x])
# imdb_movies_india['Director'] = imdb_movies_india['Director'].apply(lambda x: [x]) #only 1 time

In [331]:
imdb_movies_india.sort_values(by='Year').tail(10)

,Name,Year,Genre,Director,All Actors
5344,Guthlee,2022,[Drama],[Ishrat R. Khan],"[Sanjay Mishra, Subrat Dutta, Kalyanee Mulay]"
2699,Chaalbaaz in London,2022,[Comedy],[Pankaj Parashar],[Shraddha Kapoor]
4534,Ek Villain Returns,2022,"[Action, Thriller]",[Mohit Suri],"[Disha Patani, John Abraham, Arjun Kapoor]"
12265,Salaar,2022,[Action],[Prashanth Neel],"[Prabhas, Shruti Haasan, Mostafiz Mortoza]"
3162,Cirkus,2022,[Comedy],[Rohit Shetty],"[Jacqueline Fernandez, Pooja Hegde, Ranveer Si..."
1065,Animal,2022,"[Action, Drama]",[Sandeep Reddy Vanga],"[Ranbir Kapoor, Parineeti Chopra, Anil Kapoor]"
14125,The Intern,2022,"[Comedy, Drama, Thriller]",[Deepika Padukone],[Amitabh Bachchan]
9042,Mayday,2022,"[Drama, Thriller]",[Ajay Devgn],"[Amitabh Bachchan, Rakul Preet Singh, Ajay Devgn]"
2221,Bhediya,2022,"[Comedy, Horror]",[Amar Kaushik],"[Kriti Sanon, Varun Dhawan, Abhishek Banerjee]"
14939,Vo Ladki,2022,"[Drama, Romance]",[Praween Kumar Pandey],"[Dharmendra Ahirwar, Sanit Swami]"